/* styles.css */

/* applies to all */
h1 {
    margin-bottom: 12px;
    font-size: 4em;
    border-width: 4px;
}

h2 {
    font-size: 1.5em;
}

h1, h2 {
    text-align: center;
    margin: auto;
}

h1, h2, ul {
    width: max-content;
}

ol {
    width: 90%;
}

h1, h2, ol, ul, p{
    border: solid;
    padding: 4px 24px;
}

img {
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* main header for specifics */
#pizza {
   background-color: #fffa8a;

    h1, h2, p, ol, ul{
        background-color: #ce0000;
    }
}

#fc {
    background-color: #a50034;

    h1, h2, p, ol, ul{
        background-color: #fff1e2;
    }
}

#rkts {
    background-color: #009bdb;

    h1, h2, p, ol, ul{
        background-color: #fefdff;
    }
}